html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #483d50;
    font-family: "Microsoft YaHei";
}

svg {
    display: none;
    position: absolute;
}

g {
    stroke: white;
    stroke-width: 3;
}

path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    opacity: 0.5;
    animation: dash 1s linear 1 forwards;
    -webkit-animation: dash 1s linear 1 forwards;
}

ellipse {
    rx: 30px;
    ry: 20px;
    fill: white;
    opacity: 0.4;
}

circle {
    r: 25px;
    fill: white;
    opacity: 0.4;
}

ellipse:nth-child(2),
circle:nth-child(2) {
    animation: flash 1.5s ease 0s infinite;
    -webkit-animation: flash 1.5s ease 0s infinite;
}

ellipse:nth-child(3),
circle:nth-child(2) {
    animation: flash 1.5s ease -1.8s infinite;
    -webkit-animation: flash 1.5s ease -1.8s infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes flash {
    to {
        opacity: 0;
        rx: 70px;
        ry: 50px;
        r: 50px;
    }
}

@-webkit-keyframes flash {
    to {
        opacity: 0;
        rx: 70px;
        ry: 50px;
        r: 50px;
    }
}

#bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#qr {
    display: none;
    position: fixed;
    left: 220px;
    bottom: 50px;
    width: 148px;
}

#navi {
    position: fixed;
    z-index: 1;
    width: 190px;
    height: 100%;
}

#layer-svg,
#layer-text,
#layer-png {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#layer-alter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#head {
    position: absolute;
    top: 0;
    width: 190px;
    height: 120px;
    background-image: url(../image/menubg.png);
}
#dl {
    position: absolute;
    width: 190px;
    bottom: 0;
    background-image: url(../image/menubg.png);
}

#head img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90px;
}

#head p {
    padding: 55px 0 0 110px;
}

#navi div {
    position: absolute;
    bottom: 64px;
    width: 50px;
    height: 50px;
    overflow-x: hidden;
    background-position: left;
    cursor: pointer;
}

#navi div:hover {
    background-position: right;
}

#dl1 {
    left: 25px;
    background-image: url(../image/download1.png);
}

#dl2 {
    left: 75px;
    background-image: url(../image/download2.png);
}

#dl3 {
    left: 125px;
    background-image: url(../image/download3.png);
}

#navi ul {
    position: absolute;
    top: 120px;
    bottom: 245px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: auto;
    background-image: url(../image/menubg.png);
}

#navi ul li {
    display: block;
    width: 100%;
    height: 78px;
    background-position: 0;
    cursor: pointer;
}

#navi ul li:hover,
#navi ul li.active {
    background-position: 190px;
}

#li1 {
    background-image: url(../image/icon1.png);
}

#li2 {
    background-image: url(../image/icon2.png);
}

#li3 {
    background-image: url(../image/icon3.png);
}

#li4 {
    background-image: url(../image/icon4.png);
}

#li5 {
    background-image: url(../image/icon5.png);
}

#svg,
#text,
#png,
#alter {
    position: relative;
    width: 100%;
    height: 100%;
}

#line1 {
    left: 17px;
    top: 9px;
}

#line1 circle {
    cx: 50px;
    cy: 50px;
    r: 25px;
}

#line2 ellipse {
    cx: 827px;
    cy: 76px;
}

#line3 ellipse {
    cx: 84px;
    cy: 548px;
}

#line4 ellipse {
    cx: 285px;
    cy: 351px;
}

#line5 ellipse {
    cx: 70px;
    cy: 606px;
}


#text div,
#alter div {
    position: absolute;
    padding: 20px;
    width: auto;
    height: auto;
    background-image: url(../image/textbg.png);
}

#text p,
#alter p {
    margin: 5px 0;
}

#text1 {
    top: 20px;
    left: 215px;
}

a {
    display: block;
    width: 100%;
    height: 100%;
}

#png img,
#alter img {
    display: none;
    position: absolute;
}

#png1 {
    left: 60px;
    top: 60px;
    width: 160px;
    height: 2px;
}
